<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.mapper.UserMapper">
    


    <select id="findByUsernameAndPassword" resultMap="userRM">
        select * from
      (select  user_id ,username,password from user_p) u
      left join user_info_p i
      on u.user_id=i.user_info_id
      where username=#{username} and password=#{password}
    </select>
    <resultMap id="userRM" type="User" autoMapping="true">
        <id column="user_id" property="userId"></id>
        <association property="userInfo" javaType="UserInfo">
            <id column="user_info_id" property="userInfoId"></id>
            <result column="name" property="name"></result>
            <result column="age" property="age"></result>
            <result column="sex" property="sex"></result>
            <result column="phone" property="phone"></result>
            <result column="mail" property="mail"></result>
            <result column="card" property="card"></result>

        </association>
    </resultMap>

    <select id="findUserByUserId" resultMap="userRM">
      select * from
      (select  user_id ,username,password from user_p) u
      left join user_info_p i
      on u.user_id=i.user_info_id
      where user_id=#{userId}
    </select>

    <update id="saveUser">
        update user_p
        <set>
        <if test="username!=null">username=#{username},</if>
        <if test="password!=null">password=#{password},</if>
        <if test="createTime!=null">create_time=#{createTime},</if>
        <if test="updateTime!=null">update_time=#{updateTime}</if>
        </set>
        where user_id=#{userId}
    </update>

    <update id="saveUserInfo">
        update user_info_p <set>
        <if test="name!=null">name=#{name},</if>
        <if test="age!=null">age=#{age},</if>
        <if test="sex!=null">sex=#{sex},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="mail!=null">mail=#{mail},</if>
        <if test="card!=null">card=#{card},</if>
        </set>
        where  user_info_id=#{userInfoId}
    </update>
</mapper>